body{
min-width:240px;
min-height:360px;
background color:#282828;
}
h1{
color:#f6f6f6;
text-align:center;
}
p{
color:#f6f6f6;
fontsize:medium;
text-align:center;
}
#slate{
min-width:230px;
min-height:250px;
}
.button-grp{
width:100%;
}
.btn{
padding:10px;
boarder-radius:5px;
}
.clear{
background-color:rgb(225,86,86);
color:#f6f6f6;
}
.save{
background-color:rgb(5,198,232);
color:#f6f6f6;
}

